*{
    padding: 0 auto;
    margin: 0 auto;
}

body{
    background-color: #f1ecea;
}
#contenedor{
   width: 900px;
   height: 1000px; 
}
#cabecera{
    height: 15%;
    background-color: #3a251c;
}
#barraNavegacion{
    height: 5%;
    background-color: #b46424;
}
#seccion{
    display: flex;
    float: left;
    height: 50%;
    width: 63%;
    background-color: #362f2f;
    border-radius: 2px;
}
#aside{
    display: flex;
    width: 35%;
    height: 50%;
    background-color:  #b58c7c;
}
#piePagina{
    height: 10%;
    background-color:  #3a251c;
}
.encabezado{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    color: antiquewhite;
    text-align: center;
}
.barraNavegacion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
}
.pieNave{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: antiquewhite;
    text-align: justify;
}
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: antiquewhite;
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px; 
    border-radius: 2px;
}
.tituloEnca{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: antiquewhite;
    text-align: justify;
}
ul{
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-right: 5px;
    margin-left: 5px;
}
a{
    color: gainsboro;
    text-decoration-line: unset;
}